{% extends "layout.njk" %}

{% block content %}
  <div class="card table-container">
    <a href="/Students/create">Criar</a>
    <table>
      <thead>
        <tr>
          <th>Nome Completo</th>
          <th>Email</th>
          <th>Ano Escolar</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <td>
              <span style="background-image: url({{ student.avatar_url }})"></span>
              {{ student.name }}
            </td>
            <td>{{ student.email }}</td>
            <td>
              {% if student.grade == "5EF" %}5º Ano do Ensino Fundamental{% endif %}
              {% if student.grade == "6EF" %}6º Ano do Ensino Fundamental{% endif %}
              {% if student.grade == "7EF" %}7º Ano do Ensino Fundamental{% endif %}
              {% if student.grade == "8EF" %}8º Ano do Ensino Fundamental{% endif %}
              {% if student.grade == "9EF" %}9º Ano do Ensino Fundamental{% endif %}
              {% if student.grade == "1EM" %}1º Ano do Ensino Médio{% endif %}
              {% if student.grade == "2EM" %}2º Ano do Ensino Médio{% endif %}
              {% if student.grade == "3EM" %}3º Ano do Ensino Médio{% endif %}
            </td>
            <td>
              <a href="/Students/{{student.id}}">Ver</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}